html {
  color: $main-text-color;
  height: 100%;
  font-size: 100%;
  font-family: 'Source Sans Pro';
  background: $main-background;
  color: $main-text-color;
}
.main {
  background: $transparent-background;
}
.container {
  margin: 0 auto;
  width: rem(1070px);

  &--content {
    padding: 0 rem(5px);
  }
}

.header {
  background: $header-background;
  height: rem(59px);
  width: 100%;
  box-shadow: 0px 1px 3px $box-shadow-secondary, 0px 0px 15px $box-shadow-secondary;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  margin-top: 10px;
}

.title {
  color: $title-text-color;
  font-weight: 700;
  font-size: rem(15px);
  line-height: rem(19px);
  margin-bottom: rem(20px);
  padding-top: rem(28px);
  text-transform: uppercase;
}
.button {
  color: $promotion-text-color;
  background: linear-gradient(0deg, #7a3dc6 0%, #b65ae2 100%), #000000;
  box-shadow: 0px 1px 3px $box-shadow-main;
  border-radius: 2px;
  width: rem(132px);
  height: 43px;
  line-height: 43px;
  font-size: rem(14px);
  font-weight: 600;
  text-transform: uppercase;
  border: 0;
  cursor: pointer;
  &:focus {
    outline: 0;
  }
}
