$active-background: #ffffff;
$main-background: #cdcdcd;
$transparent-background: linear-gradient(180deg, rgba(108, 54, 173, 0.1) 0%, rgba(194, 194, 194, 0.0001) 100%);
$header-background: linear-gradient(
    360deg,
    rgba(220, 220, 220, 0.0001) 0%,
    rgba(255, 255, 255, 0.5) 93.45%,
    rgba(255, 255, 255, 0.49) 100%
  ),
  #dedede;

$main-text-color: #212121;
$title-text-color: #262626;

$box-shadow-main: rgba(0, 0, 0, 0.3);
$box-shadow-secondary: rgba(0, 0, 0, 0.15);
